GameContester.Web/Web.config
GameContester.Web/Web.config
GameContester.Service/Web.config
.vs/config/applicationhost.config
.vs/GameContester/v14/.suo

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.config
*.config
.vs/config/applicationhost.config
GameContester.Service/bin/GameContester.Service.dll.config
GameContester.Web/bin/GameContester.Web.dll.config
GameContester.Web/Web.config
.vs/GameContester/v14/.suo
.gitignore
.vs/config/applicationhost.config
.vs/GameContester/v14/.suo
GameContester.Application/bin/Debug/GameContester.Application.dll
GameContester.Application/bin/Debug/GameContester.Application.pdb
GameContester.Application/bin/Debug/GameContester.Contracts.dll
GameContester.Application/bin/Debug/GameContester.Contracts.pdb
GameContester.Application/bin/Debug/GameContester.Domain.dll
GameContester.Application/bin/Debug/GameContester.Domain.pdb
GameContester.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Application/obj/Debug/GameContester.Application.csproj.FileListAbsolute.txt
GameContester.Application/obj/Debug/GameContester.Application.csprojResolveAssemblyReference.cache
GameContester.Application/obj/Debug/GameContester.Application.dll
GameContester.Application/obj/Debug/GameContester.Application.pdb
GameContester.Contracts/bin/Debug/GameContester.Contracts.dll
GameContester.Contracts/bin/Debug/GameContester.Contracts.pdb
GameContester.Contracts/bin/Debug/GameContester.Domain.dll
GameContester.Contracts/bin/Debug/GameContester.Domain.pdb
GameContester.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Contracts/obj/Debug/GameContester.Contracts.csproj.FileListAbsolute.txt
GameContester.Contracts/obj/Debug/GameContester.Contracts.csprojResolveAssemblyReference.cache
GameContester.Contracts/obj/Debug/GameContester.Contracts.dll
GameContester.Contracts/obj/Debug/GameContester.Contracts.pdb
GameContester.DataAccess/bin/Debug/GameContester.Contracts.dll
GameContester.DataAccess/bin/Debug/GameContester.Contracts.pdb
GameContester.DataAccess/bin/Debug/GameContester.DataAccess.dll
GameContester.DataAccess/bin/Debug/GameContester.DataAccess.pdb
GameContester.DataAccess/bin/Debug/GameContester.Domain.dll
GameContester.DataAccess/bin/Debug/GameContester.Domain.pdb
GameContester.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csproj.FileListAbsolute.txt
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csproj.GenerateResource.Cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csprojResolveAssemblyReference.cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.dll
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.pdb
GameContester.Domain/bin/Debug/GameContester.Domain.dll
GameContester.Domain/bin/Debug/GameContester.Domain.pdb
GameContester.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Domain/obj/Debug/GameContester.Domain.csproj.FileListAbsolute.txt
GameContester.Domain/obj/Debug/GameContester.Domain.csprojResolveAssemblyReference.cache
GameContester.Domain/obj/Debug/GameContester.Domain.dll
GameContester.Domain/obj/Debug/GameContester.Domain.pdb
GameContester.Service/bin/GameContester.Application.dll
GameContester.Service/bin/GameContester.Application.pdb
GameContester.Service/bin/GameContester.Contracts.dll
GameContester.Service/bin/GameContester.Contracts.pdb
GameContester.Service/bin/GameContester.DataAccess.dll
GameContester.Service/bin/GameContester.DataAccess.pdb
GameContester.Service/bin/GameContester.Domain.dll
GameContester.Service/bin/GameContester.Domain.pdb
GameContester.Service/bin/GameContester.Service.dll
GameContester.Service/bin/GameContester.Service.pdb
GameContester.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Service/obj/Debug/GameContester.Service.csproj.FileListAbsolute.txt
GameContester.Service/obj/Debug/GameContester.Service.csprojResolveAssemblyReference.cache
GameContester.Service/obj/Debug/GameContester.Service.dll
GameContester.Service/obj/Debug/GameContester.Service.pdb
GameContester.Web/bin/GameContester.Application.dll
GameContester.Web/bin/GameContester.Application.pdb
GameContester.Web/bin/GameContester.Contracts.dll
GameContester.Web/bin/GameContester.Contracts.pdb
GameContester.Web/bin/GameContester.DataAccess.dll
GameContester.Web/bin/GameContester.DataAccess.pdb
GameContester.Web/bin/GameContester.Domain.dll
GameContester.Web/bin/GameContester.Domain.pdb
GameContester.Web/bin/GameContester.Service.dll
GameContester.Web/bin/GameContester.Service.pdb
GameContester.Web/bin/GameContester.Web.dll
GameContester.Web/bin/GameContester.Web.pdb
GameContester.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Web/obj/Debug/GameContester.Web.csproj.FileListAbsolute.txt
GameContester.Web/obj/Debug/GameContester.Web.csprojResolveAssemblyReference.cache
GameContester.Web/obj/Debug/GameContester.Web.dll
GameContester.Web/obj/Debug/GameContester.Web.pdb
.gitignore
.vs/config/applicationhost.config
.vs/GameContester/v14/.suo
GameContester.Application/bin/Debug/GameContester.Application.dll
GameContester.Application/bin/Debug/GameContester.Application.pdb
GameContester.Application/bin/Debug/GameContester.Contracts.dll
GameContester.Application/bin/Debug/GameContester.Contracts.pdb
GameContester.Application/bin/Debug/GameContester.Domain.dll
GameContester.Application/bin/Debug/GameContester.Domain.pdb
GameContester.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Application/obj/Debug/GameContester.Application.csproj.FileListAbsolute.txt
GameContester.Application/obj/Debug/GameContester.Application.csprojResolveAssemblyReference.cache
GameContester.Application/obj/Debug/GameContester.Application.dll
GameContester.Application/obj/Debug/GameContester.Application.pdb
GameContester.Contracts/bin/Debug/GameContester.Contracts.dll
GameContester.Contracts/bin/Debug/GameContester.Contracts.pdb
GameContester.Contracts/bin/Debug/GameContester.Domain.dll
GameContester.Contracts/bin/Debug/GameContester.Domain.pdb
GameContester.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Contracts/obj/Debug/GameContester.Contracts.csproj.FileListAbsolute.txt
GameContester.Contracts/obj/Debug/GameContester.Contracts.csprojResolveAssemblyReference.cache
GameContester.Contracts/obj/Debug/GameContester.Contracts.dll
GameContester.Contracts/obj/Debug/GameContester.Contracts.pdb
GameContester.DataAccess/bin/Debug/GameContester.Contracts.dll
GameContester.DataAccess/bin/Debug/GameContester.Contracts.pdb
GameContester.DataAccess/bin/Debug/GameContester.DataAccess.dll
GameContester.DataAccess/bin/Debug/GameContester.DataAccess.pdb
GameContester.DataAccess/bin/Debug/GameContester.Domain.dll
GameContester.DataAccess/bin/Debug/GameContester.Domain.pdb
GameContester.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csproj.FileListAbsolute.txt
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csproj.GenerateResource.Cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.csprojResolveAssemblyReference.cache
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.dll
GameContester.DataAccess/obj/Debug/GameContester.DataAccess.pdb
GameContester.Domain/bin/Debug/GameContester.Domain.dll
GameContester.Domain/bin/Debug/GameContester.Domain.pdb
GameContester.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Domain/obj/Debug/GameContester.Domain.csproj.FileListAbsolute.txt
GameContester.Domain/obj/Debug/GameContester.Domain.csprojResolveAssemblyReference.cache
GameContester.Domain/obj/Debug/GameContester.Domain.dll
GameContester.Domain/obj/Debug/GameContester.Domain.pdb
GameContester.Service/bin/GameContester.Application.dll
GameContester.Service/bin/GameContester.Application.pdb
GameContester.Service/bin/GameContester.Contracts.dll
GameContester.Service/bin/GameContester.Contracts.pdb
GameContester.Service/bin/GameContester.DataAccess.dll
GameContester.Service/bin/GameContester.DataAccess.pdb
GameContester.Service/bin/GameContester.Domain.dll
GameContester.Service/bin/GameContester.Domain.pdb
GameContester.Service/bin/GameContester.Service.dll
GameContester.Service/bin/GameContester.Service.pdb
GameContester.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Service/obj/Debug/GameContester.Service.csproj.FileListAbsolute.txt
GameContester.Service/obj/Debug/GameContester.Service.csprojResolveAssemblyReference.cache
GameContester.Service/obj/Debug/GameContester.Service.dll
GameContester.Service/obj/Debug/GameContester.Service.pdb
GameContester.Web/bin/GameContester.Application.dll
GameContester.Web/bin/GameContester.Application.pdb
GameContester.Web/bin/GameContester.Contracts.dll
GameContester.Web/bin/GameContester.Contracts.pdb
GameContester.Web/bin/GameContester.DataAccess.dll
GameContester.Web/bin/GameContester.DataAccess.pdb
GameContester.Web/bin/GameContester.Domain.dll
GameContester.Web/bin/GameContester.Domain.pdb
GameContester.Web/bin/GameContester.Service.dll
GameContester.Web/bin/GameContester.Service.pdb
GameContester.Web/bin/GameContester.Web.dll
GameContester.Web/bin/GameContester.Web.pdb
GameContester.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GameContester.Web/obj/Debug/GameContester.Web.csproj.FileListAbsolute.txt
GameContester.Web/obj/Debug/GameContester.Web.csprojResolveAssemblyReference.cache
GameContester.Web/obj/Debug/GameContester.Web.dll
GameContester.Web/obj/Debug/GameContester.Web.pdb
